
.div {
display:inline-block;
width:20%;
height:100px;
margin:0;
}
#one {
background:rgb(255, 255, 255);
}
#two {
background:rgb(255, 255, 255);
}
#three {
background:rgb(255, 255, 255);
}
#four {
background-color: rgb(255, 255, 255);

}

.box {
  
  position:fixed;
  left: 0px;
  top: 20px;
  margin-top: 20px;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #bada55;
  transition-property: width, height, background-color, ;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;

}

.box:hover {
  top: 20px;
  margin-top: 20px;
  left: 1px;
  width: 100px;
  height: 100px;
  
  background-color: rgb(245, 24, 8);
  text-align: center;
  
   
}
.ball {
  background-color: #0799d3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 0;
  position: relative;
  animation: jump .5s alternate infinite ease-in-out;
}

@keyframes jump {

    from {
    top: 0;
  }
  to {
    top: 100px;
  }
}

@-webkit-keyframes jump {
  from {
    top: 0;
  }
  to {
    top: 100px;
  }
}     

a {
  position: fixed;
  margin-top: 25px;
  color: #e84610;
  font-size: 8px;
  text-decoration: none;
  transition: color 2s  ease-in-out;
  transition-property: font-size;
}
    
a:hover {
    
    font-size: 16px;
    
    color: rgb(8, 8, 8);

}
img {
    position: fixed;
    margin-top: 15px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}